Repository swig-cyna/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run type-check, prettier --write

docs(readme): updated README.md
  README.md
Due: none

chore(db): drizzle to kysely
  README.md
  drizzle.config.ts
  kysely.config.ts
  package.json
  pnpm-lock.yaml
  src/db/index.ts
  src/db/migrate.ts
  src/db/migrations/0000_wealthy_dakota_north.sql
  src/db/migrations/1739525574359_add_product_table.ts
  src/db/migrations/meta/0000_snapshot.json
  src/db/migrations/meta/_journal.json
  src/db/schema/cart.ts
  src/db/schema/index.ts
  src/db/schema/users.ts
  src/db/seed.ts
  src/db/seeds/1739527090945_products.ts
  src/db/seeds/data/users.json
  src/db/seeds/index.ts
  src/db/seeds/users.ts
  src/db/types.ts
  src/index.ts
  src/routes/products/handlers.ts
  src/routes/products/index.ts
  src/routes/products/routes.ts
  src/routes/products/schemas.ts
  src/routes/users/handlers.ts
  tsconfig.json
Due: npm run lint, npm run type-check, prettier --write

feat(auth): add authentication system
  .env.example
  .lintstagedrc
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/db/index.ts
  src/db/migrations/1739537857850_add_user_tables.ts
  src/db/seeds/1739539200617_users.ts
  src/db/types.ts
  src/env.ts
  src/index.ts
  src/routes/auth/handlers.ts
  src/routes/auth/index.ts
  src/routes/auth/routes.ts
  src/utils/auth.ts
  src/utils/openApi.ts
Due: npm run lint, npm run type-check, prettier --write

feat(products): add endpoint post -> db + stripe
  .prettierrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/db/migrations/1739525574359_add_product_table.ts
  src/db/types.ts
  src/env.ts
  src/routes/products/handlers.ts
  src/routes/products/index.ts
  src/routes/products/routes.ts
  src/routes/products/schemas.ts
Due: npm run lint, npm run type-check, prettier --write

feat(auth): implement email verification after account creation
  package.json
  pnpm-lock.yaml
  src/emails/emailService.ts
  src/emails/templates/VerificationEmail.tsx
  src/env.ts
  src/utils/auth.ts
  src/utils/openApi.ts
  tsconfig.json
Due: npm run lint, npm run type-check, prettier --write

feat(products): add endpoint patch -> db + stripe
  .env.example
  .lintstagedrc
  src/routes/products/handlers.ts
  src/routes/products/index.ts
  src/routes/products/routes.ts
Due: npm run lint, npm run type-check

feat(products): add endpoint delete -> db + stripe
  src/routes/products/handlers.ts
  src/routes/products/index.ts
  src/routes/products/routes.ts
Due: npm run lint, npm run type-check

chore(config): adjust settings for frontend integration
  .env.example
  src/env.ts
  src/index.ts
  src/utils/auth.ts
Due: npm run lint, npm run type-check

feat(auth): implement password reset functionality
  src/emails/emailService.ts
  src/emails/templates/PasswordResetEmail.tsx
  src/utils/auth.ts
Due: npm run lint, npm run type-check

chore(pnpm): resolve merge conflict
  pnpm-lock.yaml
Due: none

fix(product): add stripe default value for seed
  src/db/seeds/1739527090945_products.ts
Due: npm run lint, npm run type-check

feat(auth): implement email change logic with confirmation flow and domain configuration
  src/emails/emailService.ts
  src/emails/templates/ChangeEmail.tsx
  src/utils/auth.ts
Due: npm run lint, npm run type-check

feat(carousel): add bucket S3 in docker compose
  .env.example
  .gitignore
  .husky/pre-commit
  README.md
  docker-compose.yml
Due: none

feat(carousel): add script to create bucket
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  scripts/create-bucket.mjs
Due: prettier --write

feat(auth): add user roles implementation
  src/db/migrations/1742481194785_add_admin_fields.ts
  src/db/seeds/1739539200617_users.ts
  src/db/types.ts
  src/utils/auth.ts
  src/utils/permissions.ts
Due: npm run lint, npm run type-check

feat(auth): add and configure 2FA plugin
  src/db/migrations/1743538027005_add_2fa_table.ts
  src/db/types.ts
  src/utils/auth.ts
Due: npm run lint, npm run type-check

feat(carousel): add api routes & db migration
  src/db/migrations/1743578995413_add_carousel_table.ts
  src/db/types.ts
  src/env.ts
  src/index.ts
  src/routes/carousel/handlers.ts
  src/routes/carousel/index.ts
  src/routes/carousel/routes.ts
  src/routes/carousel/schemas.ts
  src/utils/router.ts
  src/utils/s3.ts
Due: npm run lint, npm run type-check

feat(carousel): update schemas
  src/routes/carousel/handlers.ts
  src/routes/carousel/schemas.ts
Due: npm run lint, npm run type-check

feat(carousel): update endpoint & routes & schemas
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/routes/carousel/handlers.ts
  src/routes/carousel/routes.ts
  src/routes/carousel/schemas.ts
Due: npm run lint, npm run type-check, prettier --write

feat(carousel): refactor
  package.json
  pnpm-lock.yaml
  src/routes/carousel/handlers.ts
  src/utils/s3.ts
Due: npm run lint, npm run type-check, prettier --write

feat(carousel): add cron for clear orphaned upload
  package.json
  pnpm-lock.yaml
  src/crons/cleanupOrphanedUpload.ts
  src/crons/scheduler.ts
  src/index.ts
Due: npm run lint, npm run type-check, prettier --write

fix(carousel): fix import
  src/crons/cleanupOrphanedUpload.ts
  src/utils/s3.ts
Due: npm run lint, npm run type-check

feat(core): add example middleware implementation
  src/index.ts
  src/routes/admin.ts
  src/utils/auth.ts
  src/utils/authMiddleware.ts
Due: npm run lint, npm run type-check

fix(db): check if product is already added in product seed
  src/db/seeds/1739527090945_products.ts
Due: npm run lint, npm run type-check

refactor(routes): replace forEach with direct route declaration
  src/routes/carousel/index.ts
  src/routes/carousel/routes.ts
  src/routes/products/index.ts
Due: npm run lint, npm run type-check

feat(stripe): added subscription management
  .env.example
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/db/migrations/1743957591152__add_subscription_tables.ts
  src/db/seeds/1739527090945_products.ts
  src/db/types.ts
  src/env.ts
  src/index.ts
  src/routes/paymentMethode/handlers.ts
  src/routes/paymentMethode/index.ts
  src/routes/paymentMethode/routes.ts
  src/routes/paymentMethode/schemas.ts
  src/routes/products/handlers.ts
  src/routes/stripe/handlers.ts
  src/routes/stripe/index.ts
  src/routes/stripe/routes.ts
  src/routes/stripe/schemas.ts
  src/utils/auth.ts
  src/utils/stripe.ts
Due: npm run lint, npm run type-check, prettier --write

feat(auth): implement role-based and 2FA-gated user management with permissions
  src/index.ts
  src/routes/admin.ts
  src/utils/auth.ts
  src/utils/authMiddleware.ts
  src/utils/permissions.ts
Due: npm run lint, npm run type-check

fix(auth): fix path in dashboardMiddleware
  src/utils/authMiddleware.ts
Due: npm run lint, npm run type-check

refactor(stripe): change route and naming of stripe file in subscription
  src/index.ts
  src/routes/paymentMethode/index.ts
  src/routes/stripe/index.ts
  src/routes/subscription/handlers.ts
  src/routes/subscription/index.ts
  src/routes/subscription/routes.ts
  src/routes/subscription/schemas.ts
Due: npm run lint, npm run type-check

fix(subscription): add productId and paymentMethodeId to endpoint createSubscription
  src/db/migrations/1743957591152__add_subscription_tables.ts
  src/db/types.ts
  src/routes/subscription/handlers.ts
  src/routes/subscription/schemas.ts
Due: npm run lint, npm run type-check

feat(db): add migration for ticket table creation
  src/db/migrations/1744127924839_add_ticket_table.ts
  src/db/types.ts
Due: npm run lint, npm run type-check

feat(backoffice-products): add pagination products, search & images
  src/crons/cleanupOrphanedUpload.ts
  src/db/migrations/1744184935178_add_product_images_table.ts
  src/db/types.ts
  src/routes/carousel/routes.ts
  src/routes/products/handlers.ts
  src/routes/products/index.ts
  src/routes/products/routes.ts
  src/routes/products/schemas.ts
  src/utils/responses.ts
Due: npm run lint, npm run type-check

feat(backoffice-products): lowcase search
  src/routes/products/handlers.ts
Due: npm run lint, npm run type-check

chore(carousel, products): check is id is valid
  src/routes/carousel/handlers.ts
  src/routes/carousel/routes.ts
  src/routes/products/handlers.ts
Due: npm run lint, npm run type-check

refactor(carousel, products): use executeTakeFirst instead execute for dbb query
  src/routes/carousel/handlers.ts
  src/routes/products/handlers.ts
Due: npm run lint, npm run type-check

fix(openapi): fix url parmas doc and change layout of doc
  src/routes/carousel/routes.ts
  src/routes/products/routes.ts
  src/utils/openApi.ts
Due: npm run lint, npm run type-check

fix(carousel, products): fix again params in doc
  src/routes/carousel/routes.ts
  src/routes/products/routes.ts
Due: npm run lint, npm run type-check

feat(backoffice-products): add admin middleware
  src/routes/products/routes.ts
Due: npm run lint, npm run type-check

feat(stats): integrate Umami analytics for statistics tracking
  .gitignore
  README.md
  docker-compose.yml
  src/index.ts
Due: npm run lint, npm run type-check

fix(stripe): change import order
  src/routes/subscription/handlers.ts
Due: npm run lint, npm run type-check

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run type-check: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
